.container{
    width:100%;
    height: calc(100vh - 102px);
    margin: 102px 0px 0px 0px;
    background-color: #C8E0FF;
    min-height: 820px;
}

.photo_container{
    width:79.16%;
    padding: 80px 0px;
    margin: 0 auto;
    height: 100%;
}

.photo_left{
    position: relative;
    float: left;
    width:515px;
    height: 685px;
    background-color: #fff;
    border-radius: 21px;
    padding-top: 80px;
}

.photoCard{
    margin: 0 auto;
    width:376px;
    height: 525px;
    background-color: #C8E0FF;
    padding-top: 39px;
    background-image: url(../../../img/Nav/photocard_img.svg);
}

.photoZone{
    display: flex;
    justify-content: center;
    align-items: center;
    width:305px;
    height: 400px;
    background:#fff;
    margin: 0 auto;
    overflow: hidden;
}

.photo_right{
    float:right;
    width:calc(79.16vw - 550px);
    height: 685px;
    background-color: #fff;
    border-radius: 21px;
    padding: 40px;
}

.photo_right ul{
    float: left;
    width:60px;
    margin: 0px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.photo_right li{
    display: flex;
    justify-content: center;
    align-items: center;
    width:60px;
    height:60px;
    border-radius:50%;
    background-color:#C8E0FF;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.photo_right li:hover{
    background-color:#70A8F1;
}

.photo_right li.on{
    background-color:#70A8F1;
}

.photo_right_imgZone{
    float: right;
    width:calc(100% - 90px);
    height: 100%;
}

.photo_right_imgZone img{
    width:25%;
    height: auto;
    min-width: 120px;
    max-width: 150px;
    cursor: pointer;
}

.Img_absolute{
    width:150px;
    height: auto;
    position: absolute;
    z-index: 6;
}

.Img_absolute img{
    width: 100%;
    height: auto;
}

.Img_absolute div{
    position: absolute;
    top:-30px;
    left: 0;
    z-index: 10;
}

.img_plus{
    position: absolute;
}

.img_plus.on{
    display: none;
}


.fillDrip{
    width:60px;
    height: 60px;
    border-radius: 50%;
    float: left;
    margin-left: 20px;
    cursor: pointer;
}