.communityDetail_right{
    width:480px;
    height:401px;
    float: right;
}

.communityDetail_right_detailBox > div{
    width: 100%;
    height: 57px;
    border-bottom: 1.5px solid #ccc;
    padding-top: 18px;
    
}

.communityDetail_right_detailBox > div h3{
    font-size: 15px;
    display: inline-block;
    color: #383838;
    
}

.communityDetail_right_detailBox > div p{
    font-size: 15px;
    display: inline-block;
    margin-left: 10px;
    color: #8B8B8B;
}

.communityDetail_right_detailBox> div:nth-of-type(4){
    height: 170px;
    margin-bottom: 24px;
}

.communityDetail_right_detailBox> div:nth-of-type(4) h3{
    display: block;
    margin-bottom: 15px;
}

.communityDetail_right_detailBox> div:nth-of-type(4) p{
    margin-left: 0px;
    
}

.slick-arrow{
    color:#E1DACC; 
    width:30px; 
    height:auto;
}

.slick-arrow:hover{
    color:#C4B595; 
}

.slick-slider-1{
    width:70%;
    position: relative;
    height: 325px;
    display: flex;
    justify-content: center;
    margin: 38px auto;
}

.slick-slider-1:after{
    content: "";
    width:8px;
    height: 8px;
    background-color: #C4B595; 
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 100%;
}

.Arrow{
    color:#E1DACC; 
    width:30px;
    height: 60px;
    position: absolute;
    right: -25px;
    top:50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.Arrow.prev{
    left: -25px;
}

.upload_photocard_select{
    width: 220px; 
    height: 305.55px;
    margin:0px auto;
}

.upload_photocard{
    width: 220px; 
    height: 305.55px;
    margin:0px auto;
}

.comment_wrap{
    float: left;
    width:100%;
}

.comment_wrap form{
    display: flex;
    justify-content: space-between;
    float: left;
    margin-top: 20px;
}

.comment_wrap button{
    width:10.23%;
    border-radius: 10px;
    color:#747474;
    cursor: pointer;
}

.comment_wrap button:hover{
    background-color: #747474;
    color: #fff;
}

.comment_wrap h3{
    font-size: 18px;
    color: #8B8B8B;
    margin-top: 30px;
    /* margin-bottom: 20px; */
}

.comment_wrap textarea{
    width:87.61%;
    height: 50px;
    border-radius: 10px;
    outline-style: none;
    resize: none;
    border:1.5px solid rgba(112,112,112,0.4);
    padding: 14px 15px 0px 20px;
    color: #8B8B8B;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;   
}

.comment_wrap textarea::placeholder{
    font-size: 14px;
}

.coment_reply{
    width:100%;
    float: left;
    clear: both;
    cursor: pointer;
    padding-left: 55px;
}

.coment_reply>p{
    font-size: 13px;
    font-family: 'Noto Sans KR', sans-serif;
    opacity: 0.5;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.commentSingle_wrap:after {
    content: " ";
    clear: both;
    display: block
}

.commentSingle_container{
    width:100%;
    float: left;
    margin: 20px 0px 0px;
}

.communityDetail_right_detailBox > div.modify_button{
    border-bottom: none;
    padding-top: 0px;
}

.commentSingle_top{
    float: left;
    font-size: 13px;
    color: #8B8B8B;
}

.commentSingle_userIcon{
    width: 31px; 
    height: auto; 
    float: left; 
    color: #383838;
    margin-right: 20px; 
    margin-top: 5px
}

.commentSingle_top p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    margin-top: 5px;   
}

.commentSingle_bottom{
    float: left;
    clear: both;
    width:155px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 55px;
    margin-top: 20px;
    color: #8B8B8B;
    opacity: 0.45;
}

.commentSingle_like{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.commentSingle_like span{
    font-size: 15px;
    margin-left: 5px;
}

.commentSingle_bottom p{
    font-size: 15px;
}

.commentWrite_wrap textarea{
    height: 50px; 
    width: 87.61%
}

.background{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: -1;
    background-color: #C4B595;
}

@media screen and (max-width:1300px){
    .uploadeDetail_container{
        width: 80%;
        padding: 60px 48px;
    }

    .upload_albumList{
        width:80%;
    }

    .uploadPage_left{
        width:47.65%;
    }

    .communityDetail_right{
        width:46.27%;
    }

    .slick-initialized{
        width:77%;
    }

    .slick-slider-1{
        width:77%;
        margin: 38px auto;
    }

    .uploadPage_right{
        width:46.27%;
    }
}

@media screen and (max-width:1023px){
    .uploadeDetail_container{
        width: 76.82%;
        padding: 60px 48px;
    }

    .upload_albumList{
        width:76.82%;
    }

    .uploadPage_left{
        width:100%;
    }

    .communityDetail_right{
        width:100%;
        margin-top: 40px;
    }

    .slick-initialized{
        width:70%;
    }

    .slick-slider-1{
        width:70%;
        margin: 38px auto;
    }

    .uploadPage_right{
        width:100%;
        margin-top: 40px;
    }
}

@media screen and (max-width:768px){
    .uploadeDetail_container{
        width: 100%;
        padding: 0px;
        padding-bottom: 60px;
    }

    .uploadeDetail_container h2{
        font-size: 32px;
        margin-top: 60px;
    }

    .uploadPage_left{
        border-radius: 0px;
    }

    .uploadPage_right div label{
        font-size: 13px;
    }

    .uploadPage_right{
        padding-left:30px;
        padding-right:30px;
    }

    .uploadPage_right div input{
        font-size: 13px;
    }

    .communityDetail_right{
        padding-left:30px;
        padding-right:30px;
    }

    .slick-initialized{
        width:75%;
    }

    .slick-slider-1{
        width:75%;
        margin: 38px auto;
    }

    .comment_wrap{
        padding-left:30px;
        padding-right:30px;
    }

    .commentSingle_top p{
        font-size: 13px;   
    }

    
    .commentSingle_like span{
        font-size: 13px;
    }

    .commentSingle_bottom p{
        font-size: 13px;
    }

    .slick-arrow{
        width:25px; 
    }

    .Arrow{ 
        width:25px;
        height:50px;
    }

    .communityDetail_right_detailBox > div h3{
        font-size: 13.5px;
    }

    .communityDetail_right_detailBox > div p{
        font-size: 13.5px;
    }

    .Community_button{
        width:80px;
        font-size: 13px;
        margin-left: 2vw;
    }

    .Community_button:nth-of-type(2){
        margin-left: 0px;
    }

    .commentWrite_wrap textarea{
        height: 36px; 
        font-size: 13px;
        width: 75%;
        padding-top: 7px;
    }

    .commentWrite_wrap textarea::placeholder{
        font-size: 13px;
    }

    .comment_wrap button{
        width:22%;
        font-size: 12px;
    }

    .coment_reply>p {
        font-size: 12px;
    }
}