.Nav_right{
    font-weight:900;
    font-size: 16px;
    color:#383838;
    margin-top: 5px;
}

.nav_container a{
    color:#383838;
}

.nav_container h1{
    width:100px;
    height: 32.36px;
}

.nav_container{
    width:100%;
    position: absolute;
    top:0;
    left: 0;
    height: 80px;
    background-color: #fff;
}

.centerbox{
    width:76.30%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Nav_right ul{
    /* width:430px; */
    width:400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:1024px){
    
}